body{
    background-color: rgb(70, 142, 236);
    font: normal 15pt Arial;
}
header{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
}
section{
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);

}

p{
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
}

div{
    text-align: center;
    padding: 5px;
}